:root {
	--background-color                 : #121212;
	--text-color                       : #e0e0e0;
	--button-background-color          : #333;
	--button-border-color              : #444;
	--hint-color                       : #888;
	--injector-card-border-color       : #292929;
	--injector-card-background-color   : #1e1e1e;
	--injector-card-hover-border-color : #444;
	--injector-card-hover-shadow-color : rgba(0, 0, 0, 0.2);
	--injector-card-detail-border-color: #444;
	--table-border-color               : #444;
	--table-odd-row-background-color   : #333;
	--gold                             : #FFD700;
}

body {
	font-family     : Roboto, "Segoe UI", Arial, sans-serif;
	margin          : 0;
	padding         : 20px;
	background-color: var(--background-color);
	color           : var(--text-color);
}

a {
	color     : var(--text-color);
	transition: color 0.3s ease;
}

a:hover, a:visited {
	color: #CCC;
}

#toast {
	display         : none;
	position        : fixed;
	top             : 50%;
	left            : 50%;
	transform       : translate(-50%, -50%);
	text-align      : center;
	background-color: #333;
	color           : white;
	padding         : 10px 20px;
	border-radius   : 5px;
	transition      : opacity 0.5s ease;
	opacity         : 0;
	z-index         : 1337;
	box-shadow      : 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Button to go back to the top of the page */
#top {
	display         : none;
	align-items     : center;
	justify-content : center;
	width           : 40px;
	height          : 40px;
	position        : fixed;
	bottom          : 20px;
	right           : 20px;
	background-color: var(--button-background-color);
	border          : 1px solid var(--button-border-color);
	border-radius   : 50%;
	cursor          : pointer;
	box-shadow      : 0 2px 5px rgba(0, 0, 0, 0.1);
}

#container {
	max-width: 1200px;
	margin   : 0 auto;
}

#searchBar {
	display         : block;
	margin          : 0 auto;
	padding         : 10px;
	font-size       : 16px;
	margin-bottom   : 20px;
	border          : 1px solid var(--button-border-color);
	border-radius   : 4px;
	background-color: var(--button-background-color);
	color           : var(--text-color);
}

#hint {
	text-align: center;
	font-size : small;
	color     : var(--hint-color);
	transition: opacity 500ms ease;
}

#count {
	text-align: center;
	font-size : small;
}

#injectorGrid {
	display              : grid;
	width                : 100%;
	margin-top           : 20px;
	grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
	gap                  : 20px;
	justify-content      : center;
}

.injector-card {
	border          : 1px solid var(--injector-card-border-color);
	font-size       : smaller;
	background-color: var(--injector-card-background-color);
	border-radius   : 8px;
	padding         : 15px;
	box-shadow      : 0 2px 5px rgba(0, 0, 0, 0.1);
	transition      : all 0.3s ease;
	overflow        : hidden;
	color           : var(--text-color);
}

.injector-card:hover {
	border    : 1px solid var(--injector-card-hover-border-color);
	box-shadow: 0 5px 15px var(--injector-card-hover-shadow-color);
}

.injector-card:hover h3 {
	color: var(--gold);
}

.injector-card h3 {
	margin-top: 0;
	color     : var(--text-color);
	transition: color 0.3s ease;
}

.injector-card p {
	margin: 5px 0;
	color : var(--hint-color);
}

.injector-card .detail {
	border       : 1px dashed var(--injector-card-detail-border-color);
	border-radius: 5px;
	padding      : 0 3px;
}

.injector-card .detail span {
	font-weight: 500;
	color      : var(--text-color);
}

/* Table Container */
.injector-card .table-container {
	height          : 0;
	overflow        : hidden;
	transition      : height 0.5s ease;
}

.injector-card > p:nth-child(3) > span {
	cursor: help;
}

/* Only exists inside cards */
table {
	margin-top      : 10px;
	border-collapse : collapse;
	text-align      : center;
	border          : 1px solid var(--table-border-color);
	width           : 100%;
	transition      : opacity 500ms ease-in-out;
	background-color: var(--injector-card-background-color);
	color           : var(--text-color);
}

td, th {
	border    : 1px solid var(--table-border-color);
	transition: all 500ms ease;
}

th:hover, td:hover {
	color: var(--gold);
}

table:hover {
	cursor: copy;
}

tr:nth-child(odd) {
	background-color: var(--table-odd-row-background-color);
}

footer {
	text-align: center;
	font-size : x-small;
}

footer a {
	text-decoration: none;
	font-weight    : 600;
}

footer a:hover {
	color: var(--gold);
}

@media (min-width: 768px) {
	#injectorGrid {
		grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
	}
}